<p id="notice"><%= notice %></p>

<p>
  <strong>Fechaventa:</strong>
  <%= @sale.fechaventa %>
</p>

<p>
  <strong>Total:</strong>
  <%= @sale.total %>
</p>

<p>
  <strong>User:</strong>
  <%= @sale.user %>
</p>

<p>
  <strong>Client:</strong>
  <%= @sale.client %>
</p>

<%= link_to 'Edit', edit_sale_path(@sale) %> |
<%= link_to 'Back', sales_path %>
