<h1>Listing books</h1>

<table>
  <thead>
    <tr>
      <th>Isbn</th>
      <th>Claveinterna</th>
      <th>Titulo</th>
      <th>Autor</th>
      <th>Editorial</th>
      <th>Provider</th>
      <th>Category</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.isbn %></td>
        <td><%= book.claveinterna %></td>
        <td><%= book.titulo %></td>
        <td><%= book.autor %></td>
        <td><%= book.editorial %></td>
        <td><%= book.provider %></td>
        <td><%= book.category %></td>
        <td><%= link_to 'Show', book %></td>
        <td><%= link_to 'Edit', edit_book_path(book) %></td>
        <td><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Book', new_book_path %>
